:root {
  --slate900: #0f172a;
  --slate800: #1e293b;
  --slate400: #94a3b8;
  --slate200: #e2e8f0;
  --slate100: #f1f5f9;

  --red600: #dc2626;
  --red-vars: 220, 38, 38;

  --green600: #16a34a;
  --green-vars: 22, 163, 74;

  --no-cat1: var(--red600);
  --no-cat2: #7f1d1d;

  --yes-cat1: var(--green600);
  --yes-cat2: #14532d;

  --text-color: var(--slate200);
}

.yes {
  --cat1: var(--yes-cat1);
  --cat2: var(--yes-cat2);
  --colored-text: var(--green600);
  --colored-vars: var(--green-vars);
}

.no {
  --cat1: var(--no-cat1);
  --cat2: var(--no-cat2);
  --colored-text: var(--red600);
  --colored-vars: var(--red-vars);
}

html {
  box-sizing: border-box;
  font-family: 'InterVariable', sans-serif;
  font-optical-sizing: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #0f0f0f;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 3rem;
  font-size: larger;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 12rem;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--colored-text);
}

h4 {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.less-important {
  color: var(--slate400);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ditch-stats {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.distribution {
  width: 40vw;
  display: flex;
  margin-bottom: 3rem;
}

@media (max-aspect-ratio: 1/1) {
  .distribution {
    width: 100%;
  }
}

.clip {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.quote {
  font-style: italic;
  font-weight: 300;
  margin-right: 0.75rem;
}

.redacted {
  text-decoration: line-through;
}

a {
  color: var(--colored-text);
}

.clip-link > img {
  height: 1.2rem;
  margin-right: 0.2rem;
}

.category {
  height: 20px;
  position: relative;
  cursor: pointer;
}

.category-tooltip {
  transform: scale(0);
  opacity: 0;
  transition: transform cubic-bezier(0.76, 0.07, 1, 0.27) 100ms,
    opacity cubic-bezier(0.76, 0.07, 1, 0.27) 100ms;
  transform-origin: top left;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #191919;
  border-radius: 0.75rem;
  margin: 0.5rem;
  box-shadow: 0px 4px 20px 0 #0005;
  position: absolute;
  top: 100%;
  border: 1px solid #fff2;
}

.category:hover .category-tooltip {
  transition: transform cubic-bezier(0.07, 0.76, 0.27, 1) 300ms,
    opacity cubic-bezier(0.07, 0.76, 0.27, 1) 100ms;
  transform: scale(1);
  opacity: 1;
}

.category-details {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: center;
}

.category-tooltip img {
  width: 6rem;
  border-radius: 0.5rem;
}

.ditch-distribution {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
}

.ditch-distribution div {
  height: 10px;
}

.ditch-distribution .streams {
  flex-grow: 1;
  background-color: var(--cat1);
}

.ditch-distribution .ditches {
  background-color: var(--cat2);
}

.ditch-stats h5 {
  margin-top: 1.5rem;
  margin-bottom: 0.4rem;
}

.ditch-duration {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-weight: normal;
  font-size: 1rem;
}

.ditch-from {
  margin-top: 0.2rem;
  font-weight: normal;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.credits {
  font-size: 0.75rem;
}

.github-icon {
  width: 3rem;
  color: var(--slate400);
}

.category:nth-child(2n + 1) {
  background-color: var(--cat1);
}

.category:nth-child(2n + 2) {
  background-color: var(--cat2);
}

.years {
  display: flex;
  gap: 1.5rem;
}

.years > div {
  position: relative;
}

.years > div:after {
  content: '/';
  color: #aaa;
  position: absolute;
  left: -0.75rem;
  transform: translateX(-50%);
}
.years > div:first-child:after {
  content: '';
}

.ditch-days {
  display: grid;
  gap: 3px;
  grid: repeat(7, 1fr) / auto-flow;
  margin-bottom: 2.5rem;
}

.ditch-days :first-child {
  grid-row: calc(var(--start-of-year) + 1);
}

.ditch-days > .ditch-day {
  width: 12px;
  height: 12px;
  background: rgba(
    var(--colored-vars),
    calc(var(--day-time) / var(--max-time))
  );
  color: black;
  border-radius: 3px;
  border: 1px solid #ffffff10;
  position: relative;
}

.ditch-days .ditch-day::after {
  --base-transform: translate(-50%);
  content: attr(data-formatted) ' (' attr(data-hours) ')';
  display: block;
  transform: var(--base-transform) scale(0);
  transform-origin: top;
  transition: transform cubic-bezier(0.76, 0.07, 1, 0.27) 100ms,
    opacity cubic-bezier(0.76, 0.07, 1, 0.27) 100ms;
  background: #191919;
  position: absolute;
  color: #eee;
  padding: 0.5rem 1rem;
  border: 1px solid #fff1;
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 #0006;
  text-wrap: nowrap;
  z-index: 1;
  top: 150%;
  left: 100%;
}

.ditch-days .ditch-day:hover::after {
  transform: var(--base-transform) scale(1);
  transition: transform cubic-bezier(0.07, 0.76, 0.27, 1) 300ms,
    opacity cubic-bezier(0.07, 0.76, 0.27, 1) 100ms;
}
