<div class="details">
  {{#if atLeastOneStream}}
  <h3>Distribution:</h3>
  <div class="distribution">
    {{#each games as |g|}}
    <div
      class="category"
      style="width: {{bar-width ../totalTimeMin g.timeStreamedMin}}%"
    >
      <div class="category-tooltip">
        <img src="{{g.categoryImage}}" alt="Category Image" />
        <div class="category-details">
          <div class="category-name">{{g.category}}</div>
          <div class="category-stream-time">
            Streamed {{humanize-min g.timeStreamedMin}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="clip">
    <span class="quote redacted">"I'm thinking 50% Overwatch"</span>
    <a
      class="clip-link"
      href="https://clips.twitch.tv/ConfidentSmellyMushroomMikeHogu-yC0HKC49w8xNDCWD"
    >
      <img
        src="https://static-cdn.jtvnw.net/emoticons/v2/425618/default/dark/2.0"
        alt="LUL"
        title="LUL"
      />Clip</a
    >
  </div>
  <div class="clip">
    <span class="quote">"I think we can all agree on 30% variety"</span>
    <a
      class="clip-link"
      href="https://clips.twitch.tv/InexpensiveResoluteHorseWoofer-Bbss0ZytFaFs8ZM6"
    >
      <img
        src="https://cdn.7tv.app/emote/60e5a68c6d2fbedb0118109b/2x.webp"
        alt="lulWut"
        title="lulWut"
      />Clip</a
    >
  </div>
  {{else}}
  <h3>
    Not even one stream...&nbsp;<img
      alt="Weirdge"
      src="https://cdn.7tv.app/emote/60ee69a3a60faa2a91f83ab4/1x.webp"
    />
  </h3>
  {{/if}}
</div>
