<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Are We Variety Yet?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Are We Variety Yet?">
    <meta property="og:title" content="Are We Variety Yet?">
    <meta property="og:description"
          content="Are We Variety Yet? {{#if areWeVariety}}Yes, we are!{{else}}No, not there yet :/{{/if}}">
    <meta property="twitter:site" content="@nerixyz">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap"
          rel="stylesheet">
</head>
<body class="{{#if areWeVariety}}yes{{else}}no{{/if}}">
<header><s>Are We Variety Yet?</s><br>Were We Variety in {{year}}?</header>
<main>
    <h1>{{#if areWeVariety}}Yes{{else}}No{{/if}}</h1>
    <h4>We were {{round-percent varietyPercent}}% variety.</h4>
    <div class="details">
        {{#if atLeastOneStream}}
            <h3>Distribution:</h3>
            <div class="distribution">
                {{#each games}}
                    <div class="category" style="width: {{bar-width ../totalTimeMin this.timeStreamedMin}}%">
                        <div class="category-tooltip">
                            <img src="{{this.categoryImage}}" alt="Category Image"/>
                            <div class="category-details">
                                <div class="category-name">{{this.category}}</div>
                                <div class="category-stream-time">Streamed {{humanize-min this.timeStreamedMin}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="clip">
                <span class="quote redacted">"I'm thinking 50% Overwatch"</span>
                <a class="clip-link" href="https://clips.twitch.tv/ConfidentSmellyMushroomMikeHogu-yC0HKC49w8xNDCWD"> <img
                        src="https://static-cdn.jtvnw.net/emoticons/v2/425618/default/dark/2.0" alt="LUL"
                        title="LUL">Clip</a>
            </div>
            <div class="clip">
                <span class="quote">"I think we can all agree on 30% variety"</span>
                <a class="clip-link" href="https://clips.twitch.tv/InexpensiveResoluteHorseWoofer-Bbss0ZytFaFs8ZM6"> <img
                        src="https://cdn.7tv.app/emote/60e5a68c6d2fbedb0118109b/2x" alt="lulWut" title="lulWut">Clip</a>
            </div>
        {{else}}
            <h3>Not even one stream...&nbsp;<img alt="Weirdge" src="https://cdn.7tv.app/emote/60ee69a3a60faa2a91f83ab4/1x.webp"></h3>
        {{/if}}
    </div>
    <div class="ditch-stats">
        <h4>{{daysDitched}}<span class="less-important">/{{daysUntilNow}}</span> days ditched <span
                class="less-important">({{round-percent percentDitched}}%)</span></h4>
        <div class="ditch-distribution">
            <div class="streams"></div>
            <div class="ditches" style="width: {{bar-width 1 percentDitched}}%"></div>
        </div>
        <h5>Longest ditch:</h5>
        <h6 class="ditch-duration">{{#if (eq longestDitch.type "current")}}
            <span id="ditchDuration" data-dt="{{longestDitch.from}}">?</span>{{else}}
            {{longestDitch.duration}}{{/if}}</h6>
        <h6 class="ditch-from">From <span class="local-dt" data-dt="{{longestDitch.from}}">?</span></h6>
    </div>
    <div class="other-year">
        <a href="/">Go to current year</a>
    </div>
</main>
<footer>
    <div class="credits">
        Data from <a href="https://sullygnome.com/channel/m0xyy">SullyGnome</a>.
    </div>
    <div class="credits">May be delayed by up to 1h, cached for 10min.</div>
    <h6>Made by Nerix</h6>
    <a href="https://github.com/Nerixyz/arewevarietyyet">
        <svg class="github-icon" viewBox="0 0 24 24">
            <path fill="currentColor"
                  d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"/>
        </svg>
    </a>
</footer>
</body>
<script>
    (() => {
        const formatter = new Intl.DateTimeFormat(undefined, {dateStyle: 'medium', timeStyle: 'short'});

        for (const el of document.querySelectorAll('.local-dt')) {
            el.textContent = formatter.format(new Date(el.dataset.dt));
        }
    })();
</script>
</html>